<html>
<head>
  <title>Empty</title>
</head>
<body>
<h1>Nothing was submitted to the database</h1>
  <p>there's no data already submit. please make sure tyoe somethin in</p>
  <p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>