{% for item in items %}
<tr class="result">
  <!-- Dist (km) -->
  <td>{{item.dis}}</td>
  <td>Start Time:</td>
  <!-- Open time -->
  <td>{{item.open_time}}</td>
</tr>
<tr class="result">
  <td>Close Time:</td>
  <!-- Close time -->
  <td>{{item.close_time}}</td>
</tr>